<%- include("partials/header") -%>



    <form action="/" method="post">
        <label for="cityInput">City Name:</label>
        <input id = "cityInput" type="text" name = "cityName">
        <button type="submit">Submit!!</button>
    </form>



<%- include("partials/footer") -%>
